:root {
  --slideX: 200px;
  --slideY: 100px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  width: 200px;
  text-align: center;
}

.animation-container {
  display: block;
  overflow: hidden;
  border: 2px dashed purple;
}
/* 
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounceOut {
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(var(--slideX));
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(var(--slideX));
  }
} */
